@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 255, 17%, 96%;
    
    --foreground: 240 10% 3.9%;
    --card: 0 0% 100%;
    --card-foreground: 240 10% 3.9%;
    --popover: 0 0% 100%;
    --popover-foreground: 240 10% 3.9%;
    --primary: 240 5.9% 10%;
    --primary-foreground: 0 0% 98%;
    --secondary: 240 4.8% 95.9%;
    --secondary-foreground: 240 5.9% 10%;
    --muted: 240 4.8% 95.9%;
    --muted-foreground: 240 3.8% 46.1%;
    --accent: 240 4.8% 95.9%;
    --accent-foreground: 240 5.9% 10%;
    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 0 0% 98%;
    --border: 240 5.9% 90%;
    --input: 240 5.9% 90%;
    --ring: 240 5.9% 10%;
    --radius: 0.5rem;
  }

  .dark {
    --background: 240 10% 3.9%;
    --foreground: 0 0% 98%;
    --card: 240 10% 3.9%;
    --card-foreground: 0 0% 98%;
    --popover: 240 10% 3.9%;
    --popover-foreground: 0 0% 98%;
    --primary: 0 0% 98%;
    --primary-foreground: 240 5.9% 10%;
    --secondary: 240 3.7% 15.9%;
    --secondary-foreground: 0 0% 98%;
    --muted: 240 3.7% 15.9%;
    --muted-foreground: 240 5% 64.9%;
    --accent: 240 3.7% 15.9%;
    --accent-foreground: 0 0% 98%;
    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 0 0% 98%;
    --border: 240 3.7% 15.9%;
    --input: 240 3.7% 15.9%;
    --ring: 240 4.9% 83.9%;
  }
}





@import url("https://fonts.googleapis.com/css?family=Montserrat");
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@700&display=swap');

details {
  width: 100%;
  min-height: 5px;
  max-width: 700px;
  padding: 45px 70px 45px 45px;
  margin: 0 auto;
  position: relative;
  font-size: 22px;
  border: 1.5px solid rgba(0, 0, 0, .1);
  border-radius: 15px;
  transition: all 0.5s;
}

details + details {
  margin-top: 50px;
}

details[open] {
  min-height: 50px;
  background-color: #f6f7f8;
  box-shadow: 2px 2px 20px #0000001e;
}



details p {
  color: #96999d;
  font-weight: 300;
}

summary {
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-weight: 500;
  cursor: pointer;
}

summary:focus {
  outline: none;
}

summary:focus::after {
  content: "";
  height: 100%;
  width: 100%;
  display: block;
  position: absolute;
  top: 0;
  left: 0;
}

summary::-webkit-details-marker {
  display: none
}

.control-icon {
  fill: #472649;
  transition: .3s ease;
  pointer-events: none;
  fill: #6e00f5;
  
}

.control-icon-close {
  display: none;
  fill: #6e00f5;
}

details[open] .control-icon-close {
  display: initial;
  transition: 0.5s ease;
  fill: #6e00f5;
}

details[open] .control-icon-expand {
  display: none;
  fill: #6e00f5;
}

.container {
  width: 100%;
  height: 8vh;
}

.button {
  position: relative;
  border: 0.1rem solid #6e00f5;
  display: flex;
  align-items: center;
  justify-content: center;
  outline: none;
  box-shadow: 0 1px 3px 0 #6e00f5;
  background: #090012;
  color: #ffffff;
  border-radius: 100px;
  padding: 16px 64px;
  font-family: 'Quicksand', sans-serif;
  font-size: 14px;
  cursor: pointer;
  transition: box-shadow 0.5s ease;
}

.button:hover {
  box-shadow: 0 0 20px 0 #5d00ff70;
  background: #e9e9e9;
  border: 0.1rem solid #8c00ff;
}

.home {
  display: flex;
  justify-content: center;
  align-items: center;

}

.header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  padding: 2rem 9%;
  background: white;
  display: flex;
  justify-content: space-between;
  z-index: 100;
  box-shadow: 0 0 3.5rem rgb(212, 212, 212);
}

.header .sticky {
  border-bottom: .1rem solid rgba(0, 0, 0, .2);
}


.navbar a {
  font-size: 2rem;
  font-weight: bold;
  color: var(--text-color);
  transition-delay: 10ms;
  margin-left: 4rem;
}

.navbar a:hover,
.navbar .active {
  color: var(--main-color);
}

@layer base {
  * {
    @apply border-border;
    box-sizing: border-box;
    text-decoration: none;
    border: none;
    outline: none;
    scroll-behavior: smooth;
    font-family: 'Montserrat', sans-serif;
  }

  body {
    @apply bg-background text-foreground;
  }
}

* {
  box-sizing: border-box;
  text-decoration: none;
  border: none;
  outline: none;
  scroll-behavior: smooth;
  font-family: 'Montserrat', sans-serif;
}

